<div>
  <p>
    Title: {{item.title}}
  </p>
  <p>
    Condition: {{item.condition}}
  </p>
  <p>
    Starts At: {{item.startDate}}
  </p>
  <p>
    Ends At: {{item.endDate}}
  </p>
  <p>
    Description: {{item.description}}
  </p>

</div>
