<div>
  <p>
    Title: {{item.title}}
  </p>
  <p>
    Condition: {{item.condition}}
  </p>
  <p>
    Starts At: {{item.startDate}}
  </p>
  <p>
    Ends At: {{item.endDate}}
  </p>
  <p>
    Description: {{item.description}}
  </p>

</div>

<div>
  <h2>Bidding</h2>
  <form action="/bid" method="POST">
    <input type="hidden" name="item" value="{{item._id}}">
    <input type="number" name="bid" required>
    <button type="submit">Place Bid</button>
  </form>
</div>
